<div id="div">

  <form id="form">
    <table><tbody>
      <tr>
        <label for="District_Name">District_Name</label>
        <td>
        <input type="text" placeholder="name" id="District_Name"/><br><br>
        </td>
      </tr>
      <tr>    
        <label for="Area">Area(sq.mt)</label>
        <td>
        <input type="text" placeholder="area" id="Area"/><br><br>
        </td>
      </tr>
      <tr>
        <label for="Population">Population</label>
        <td>
        <input type="text" placeholder="Population" id="Population"/><br><br>
        </td>
        
      </tr>
    </tbody></table>
    <input type="button" value="save" id="but"/>
    
    
  </form>

  <div id="radio">
      <h4> 
      Biggest District(Area wise)
      </h4>
      <input type="radio" id="chennai" name="bigdistrict" value="chennai">
      <label for="chennai">chennai</label>
      <input type="radio" id="Coimbatore" name="bigdistrict" value="Coimbatore" class="big">
      <label for="Coimbatore">Coimbatore</label>
      <input type="radio" id="Salem" name="bigdistrict" value="Salem" class="big">
      <label for="Salem">Salem</label>

  </div>
  <div id="radio">
    <h4> 
    Highly populated District
    </h4>
    <input type="radio" id="chennai" name="highpopulated" value="chennai" >
    <label for="chennai">chennai</label>
    <input type="radio" id="Coimbatore" name="highpopulated" value="Coimbatore" class="pop">
    <label for="Coimbatore">Coimbatore</label>
    <input type="radio" id="Salem" name="highpopulated" value="Salem" class="pop">
    <label for="Salem">Salem</label>

</div>
</div>
